@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background: #1a1a1a;
  color: #dcdcdc;
}

.bg-container {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0.6) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("../public/assets/bg-landing.jpeg");
}

.text-shadow {
  text-shadow: 0px 1px 2px rgb(0 0 0 / 80%);
}

/* @layer components {
  .main-container {
    @apply flex min-h-screen flex-1 flex-col items-center px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
  }
  .topbar {
    @apply fixed top-0 z-30 flex w-full items-center justify-between px-6 py-3;
  }

  .bottombar {
    @apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-glassmorphism p-4 xs:px-7 md:hidden;
  }
} */
